= form_with(model: article, local: true) do |form|
  - if article.errors.any?
    #error_explanation
      h2
        = pluralize(article.errors.count, "error")
        | prohibited this article from being saved:
      ul
        - article.errors.full_messages.each do |message|
          li = message
  .field.is-horizontal
    .field-label.is-normal
      = form.label :name, class: "label"
    .field-body
      .field
        .control
          = form.text_field :name, class: "input"

  .field.is-horizontal
    .field-label.is-normal
      = form.label :pdf_file, class: "label"
    .field-body
      .field
        .file.has-name
          label.file-label
            = form.file_field :pdf_file, class: "file-input", accept: 'application/pdf'
            span.file-cta
              span.file-label
                | Choose a file…
            span.file-name
              - if article.pdf_file.attached?
                = article.pdf_file.filename
              - else
                | No file attached


  .field.is-horizontal
    .field-label.is-normal
      = form.label :tag_text, class: "label"
    .field-body
      .field
        .control
          = form.text_field :tag_text, class: "input"

  hr

  .field.is-horizontal
    .field-label
    .field-body
      .actions
        = form.submit class: "button is-success"
