.columns.is-multiline
  - if notice
    .column.is-full
      article.message.is-success: .message-body = notice

  - articles.each do |article|
    .column.is-half
      .card
        .card-content: article.media: .media-content
          .content
            a href="#{article_path(article)}"
              h1 = article.name

            p.buttons
              - for tag in article.tag_list do
                a.button.is-text href=search_articles_path(tag) = tag

        - if article.user_id == current_user.id
          footer.card-footer
            = link_to 'Edit', edit_article_path(article), class: 'card-footer-item has-text-success has-text-weight-semibold'
            = link_to 'Destroy', article, class: 'card-footer-item has-text-success has-text-weight-semibold', method: :delete, data: { confirm: 'Are you sure?' }
