== render 'shared/navbar'

.container
  .section

    .columns.is-multiline
      .column.is-full
        = render 'shared/buttons/back', href: articles_path

      .column.is-full
        .card: .card-content: article.media: .media-content: .content
          h1.title Edit Article
          hr
          = render 'form', article: @article
