== render 'shared/navbar'

.container
  .columns.is-gapless
    .column.is-one-third
      .section
        - if notice
          article.message.is-success: .message-body = notice

        h1.title = @article.name

        p.buttons
          - for tag in @article.tag_list do
            a.button.is-text href=search_articles_path(tag) = tag

        p.buttons
          = render 'shared/buttons/back', href: articles_path
          = render 'shared/buttons/edit', href: edit_article_path(@article)

    .column
      iframe#pdf-view src=(iframe_url_for url_for @article.pdf_file)
