nav.navbar.is-success role="navigation" aria-label="main navigation"
  .container
    .navbar-brand
      a.navbar-item.is-size-5.has-text-weight-bold href="#{root_url}"
        img src="#{root_url}/muse.svg"
      a.navbar-burger role="button" data-target="navMenu" aria-label="menu" aria-expanded="false"
        - 3.times do
          span aria-hidden="true"
    #navMenu.navbar-menu
      .navbar-end
        - if user_signed_in?
          a.navbar-item href="#{new_article_path}"
            = render 'shared/icon', name: "fa-plus"
            span.has-text-weight-semibold Add New Article
        - if user_signed_in?
          a.navbar-item href="#{destroy_user_session_path}" data-method="delete"
            = render 'shared/icon', name: "fa-sign-out-alt fa-flip-horizontal"
            span.has-text-weight-semibold Sign out
