section.hero.is-success.is-fullheight
  .hero-body
    .container
      img#logo src="#{root_url}/muse.svg"

      .columns
        .column.is-one-third
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              = f.label :email, class: "label has-text-white"
              .control
                = f.email_field :email, autofocus: true, autocomplete: "email", class: "input"
            .field
              = f.label :password, class: "label has-text-white"
              .control
                = f.password_field :password, autocomplete: "current-password", class: "input"
            - if devise_mapping.rememberable?
              .field: .control
                label.label
                  = f.check_box :remember_me, class: "checkbox"
                  = f.label :remember_me, class: "label has-text-white"
            .actions
              = f.submit "Log in", class: "button is-white"

          = render "devise/shared/links"
