doctype html
html
  head
    title Muse
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag *@styles
    link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet"
  body
    == yield
  = javascript_include_tag *@scripts
